.sign-in-validation{
    display: flex;
    flex-direction: column;
}

.text-validation{
    background-color: rgb(207, 206, 206);
    padding: 4rem 2rem 6rem 2rem;
    border-radius: 10%;
}

.text-validation p{
    font-size: 1.125rem;
    text-align: left;
    color: white;
}

.sign-in-validation a {
    background-color: #670652;
    border: solid white .1rem;
    width: max-content;
    box-shadow: none;
    color: white;
    text-transform: uppercase;
    margin: auto;


    display: inline;
    top: -4rem;


}

.button-bot-account{
    margin-top:1rem;
}