.signIn-confirm{
    display: flex;
    flex-direction: column;
}

.text-confirm{
    background-color: #670652;
    padding: 5rem 2rem 3rem 2rem;
    border-radius: 1.563rem;
    margin-top: 3rem;
}

.text-confirm p{
    font-size: 1.4rem;
    margin-bottom: 3rem;
    color: white;
}

.text-confirm a{
    background-color: #670652;
    border: solid white .1rem;
    box-shadow: none;
    color: white;
    text-transform: uppercase;
}