.text-info {
    background: linear-gradient(#DD0081, #F21323);
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    z-index: 2;
    margin-top: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.text-info p {
    color: white;
    font-size: .8rem;
    text-transform: uppercase;
    margin:0;
}