.signIn-confirm{
    display: flex;
    flex-direction: column;
}

.text-confirm{
    background-color:#670652;
    color:white;
    padding:2rem;
    border-radius: 15px;
}

.text-confirm svg{
    fill:white;
    border:2px solid white;
    border-radius: 50%;
    padding:0.3rem;
}
.text-confirm p br{
    margin-bottom: 0.3rem;
}

.text-confirm p{
    font-size: 1rem;
    margin-bottom: 2rem;
}

.signIn-confirm button{
    display: flex;
    margin: auto;
    margin-top:2rem;
}

.container-img {
    display: flex;
    justify-content: center;
    margin: auto;
}

.img-card,
.img-picture{
    max-width: 40%;
    margin-bottom: 2rem;
}

.confirm-upload-account {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.photo-confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.identity-confirm {
    height: 100%;
}


.button-bot-account{
    margin-top:1rem;
    display:flex;
    justify-content:center;

}

.button-bot-account button{
    background-color: white;
    color:#670652;
}