.card-notif-top{
    display: flex;
    justify-content: space-between;
    font-size:14px;
}

.card-notif-md{
margin-left:5px;
}

.grey{
    color:#BD1347;
}

.container-button{
    padding-top:1rem;
    display: flex;
    justify-content: flex-end;
}

.first:first-child{
  margin-bottom:0.5rem;
}

.card-notif-bot{
    text-align: end;
}

.container-button button{
    background-color: #670652;
    color:white
}

.card-notif-top{
    display: flex;
    align-items: flex-start;

}

.card-notif-top button{
    padding:0;
}

.card-notif-top span{
    text-transform: capitalize;
}

.card-notif-md .first-name {
    text-transform: capitalize; 
}