h1{
    text-align: center;
}

.create-place-title{

    margin-bottom: 1rem;
}

.place-list-link{
    text-decoration: none;
}

.place-list-btn{
    display: flex;
    justify-content: center;
}

.place-list-btn button{
    background-color: #670652;
    border: solid white .1rem;
    box-shadow: none;
    color: white;
}
.place-list-btn button:hover{
    background-color: #c51162;

}

.placeform button, .container-admin a{
    background-color: #670652;
    border: solid white .1rem;
    box-shadow: none;
    color: white;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
