.account-list{
    width: max-content;
    margin: auto;
}

.account-list a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

.account-field{
    box-sizing: border-box;
    width: 100%;
    background-color:#670652;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:1rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
} 

.account-list div.account-field{
    background-color: #670652;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
}

.account-field-result{
    display: flex;
    align-items: center;
}

.account-field div p{
    margin:0;
}

.account-field p{
    margin:0;
    color: white;
}

.account-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.account-list button{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}


.account-list button{
    background-color: #670652;
    border: solid white .1rem;
    width: max-content;
    box-shadow: none;
    color: white;
    text-transform: uppercase;
    margin: auto;
    margin-top: 1rem;
}

.account-list button .account-field{
    background-color: #670652;
}

.MuiButton-label .account-field{
    margin-top:0rem;
    padding:0;
}

.account-top h2{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#change-picture-btn{
    color: white;
    text-transform: uppercase;
}

.img-picture{
    height: 15vh;
    width: 15vh;
    object-fit: cover;
    border-radius: 50%;
}