.place-card{
    background-color: #c8c8c8;
    border-radius: 15px;
    text-align: start;
    padding: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;

}

.place-card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.place-card p{
    line-height: 1.4rem;
}

.location-name{
    font-size: 1.2rem;
    font-weight: 700;
}

.location-adress{
    font-size: 0.8rem;
    font-weight: 500;
}