
header{
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1.25rem 0;
    background-color: white;
    box-shadow: 0rem 1px 10px  black;
    z-index: 2;
}

header div svg path{
    color: white;
}

header{
    box-shadow: none;
    background: linear-gradient(#DD0081, #F21323);
}

.logoWoomy svg{
    width: 3em;
    height: min-content;
}

.accountIcon svg, .searchIcon svg{
    width: 2rem;
    height: 2rem;
}