
header{
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1.25rem 0;
}

header div svg path{
    color: #8A55A3;
}

h1{
    font-size:18px;
    color:#BD1347;
}

button{
    border: 1px solid black;
    background-color: chocolate;
    border-radius: 50%;
}