.separator-dark{
    width:100%;
    height:2px;
    background-color: #670652;
    margin-top:1rem;
    margin-bottom:1rem;
}

.notif-header{
    display: flex;
    justify-content: space-between;
    color:#670652;
}