footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    z-index: 2;
    padding-top: 1rem;
    padding-bottom: .5rem;
    margin-bottom: 3rem;
}


footer a {
    text-decoration: none;
}

footer p{
    margin-top:10px;
    margin-bottom:10px;
    font-size: 1.125rem;
    color: #BD1347;
    text-transform: uppercase;
}

footer div svg path{
    color: #670652;
}

.createIcon svg, .itinIcon svg, .messageIcon svg{
        width: 1.7rem;
        height: 1.7rem;
}
