.container{
    padding: 6.625rem 1rem ;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 5rem;
}

.loading{
    width:100vw;
    height:75vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
@media screen and (max-width: 320px){
    p{
        font-size:1rem;
    }
    .landing-logo svg{
        margin-bottom: 0;
    }
    .landing-title{
        margin-bottom: 0;
    }
    .landing-text{
        font-size: 0.9rem;
    }
}