
.changeAccount-content{
    display: grid;
    row-gap: 2rem;
}

.confirm-id{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.identity-confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valid-changeAccount p{
    font-weight: 400;
    font-size: .7rem;
    text-transform: initial;
    text-align: justify;
    margin-bottom: 2rem;
}

.valid-changeAccount{
    height: 8rem;
    display: block;
    margin: 0 auto;
    text-align: center;
}